<!-- begin row -->
<div class="row">
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">会员申请列表</h4>
                <input class="hide" id="roles" value="{{context['roles']}}"/>
            </div>
            <div class="panel-body">
                <button class="btn btn-danger btn-xs admin-btn-export" table-id="data-table" filename="会员申请列表.xls"
                        type="button" id="btn_export"><i class="fa fa-fw fa-download"></i> 导出Excel
                </button>
                <div class="modal-footer" style="text-align: left;margin-top: 10px">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="weixin_group" name="weixin_group" value=""> 微信群友申请
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="normal_member" name="normal_member" value=""> 个人普通会员申请
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="advanced_member" name="advanced_member" value=""> 个人理事会员申请
                    </label>
                </div>
                <table id="data-table" class="table table-striped table-bordered nowrap" width="100%">
                    <thead>
                    <tr>
                        <th>申请编号</th>
                        <th>申请会员类型</th>
                        <th>申请者信息</th>
                        <th>申请时间</th>
                        <th>审核通过时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>
<!-- end col-10 -->
</div>
<!-- end row -->
{% include "mgr_person_detail.html" %}
{% include "simple_appform_vote_detail_modal.html" %}
<!-- #modal-alert -->
<div class="modal fade" id="modal-link-form-vote">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">公示投票链接</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">微信扫码</label>
                        <div class="col-md-9">
                            <img style="width:100%;" src="/rest/qrcode?link="/>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">复制链接</label>
                        <div class="col-md-9">
                            <textarea class="form-control" placeholder="" rows="2"></textarea>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">查看投票页面</label>
                        <div class="col-md-9">
                            <a class="btn btn-primary m-r-5 m-b-5" target="app_link" href="">点击查看</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">确定</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-link-form-paid">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">付费链接</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">微信扫码</label>
                        <div class="col-md-9">
                            <img style="width:100%;" src="/rest/qrcode?link="/>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">付费链接</label>
                        <div class="col-md-9">
                            <textarea class="form-control" placeholder="" rows="2"></textarea>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">查看付费页面</label>
                        <div class="col-md-9">
                            <a class="btn btn-primary m-r-5 m-b-5" target="app_link">点击查看</a>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">修改状态</label>
                        <div class="col-md-9">
                            <a class="btn btn-danger m-r-5 m-b-5" target="app_paid">确定线下付费</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">确定</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-offline-paid">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">确定线下付费</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">会员起始时间</label>
                        <div class="col-md-9">
                            <input class="form-control" id='start_time' placeholder="会员起始时间,日期格式为2016-03-13"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">会员有效期至</label>
                        <div class="col-md-9">
                            <input class="form-control" id='end_time' placeholder="会员有效期至,日期格式为2016-03-13"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">付费金额</label>
                        <div class="col-md-9">
                            <input class="form-control" id="paid_money" placeholder="付费金额"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">付费号码</label>
                        <div class="col-md-9">
                            <input class="form-control" id="paid_number" placeholder="付费号码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">备注</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="paid_remark" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">请上传支付凭证</label>
                        <div class="col-md-9">
                            {% include "simple_upload_image.html" %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal" id="paid">确定</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="examine-modal" data-backdrop="static">
    <div class="modal-dialog modal-large" style="position:static">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#f5f5f5;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">审核结果</h4>
            </div>
            <div class="modal-body">
                <label style="margin-bottom:10px;" id="exam_info">审核是否同意通过该申请</label>
                <div class="row">
                    <div class=" col-md-6">
                        <button id="pass" class="btn btn-block btn-warning btn-lg">审核通过</button>
                    </div>
                    <div class=" col-md-6">
                        <button id="not_pass" class="btn btn-block btn-danger btn-lg">退回</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-link-delivery-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">个人名片链接</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">微信扫码</label>
                        <div class="col-md-9">
                            <img style="width:100%;" src="/rest/qrcode?link="/>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">复制链接</label>
                        <div class="col-md-9">
                            <textarea class="form-control" placeholder="" rows="2"></textarea>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">查看个人名片页面</label>
                        <div class="col-md-9">
                            <a class="btn btn-primary m-r-5 m-b-5" target="app_link" href="">点击查看</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">确定</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-status-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改状态</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label">申请人</label>
                        <div class="col-md-9 ">
                            <input class="form-control person" readonly/>
                            <input type="hidden" class="form-control" id="form_id" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">申请状态</label>
                        <div class="col-md-9">
                            <select class="form-control" id="form_status">
                                {% for item in context['form_status'] %}
                                <option value="{{item['code_id']}}">{{item['code_name']}}</option>
                                {% end %}
                            </select>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a id="status_submit" class="btn btn-sm btn-white" data-dismiss="modal">修改</a>
            </div>
        </div>
    </div>
</div>
