
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">{{context['survey']['title']}}</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-success fade in m-b-15">
                    <strong>你已成功提交该表单! </strong>
                    提交时间：{{context['survey']['submit']['created']}}
                    <span class="close" data-dismiss="alert">×</span>
                </div>
                {% if context['survey']['image'] %}
                    <p>
                        <img src="/assets/ticket/image/{{context['survey']['image']}}" class="width-full" />
                    </p>
                {% end %}
                <p>
                    {% raw context['survey']['content'] %}
                </p>
                <form action="/page/survey/{{context['survey']['id']}}" method="POST" data-parsley-validate="true" name="form-wizard" id="submit-form" class="form-horizontal">
                
                    <div id="wizard">
                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <!-- begin row -->
                                <div class="row">

                                    {% for q in context['survey']['quizs'] %}
                                    <div class="col-md-12">
                                        <div class="form-group block1">
                                            <label class="col-md-4 control-label">
                                                {{q['title']}}
                                                {% if q['required'] %}
                                                【必填】
                                                {% end %}
                                            </label>
                                            <div class="col-md-8">
                                            {% if q['type'] == 'text' %}

                                                <input type="text" id="{{q['id']}}" name="{{q['id']}}" placeholder="请填写" class="form-control"  value="{{q['answers'][0]['value']}}" disabled/>

                                            {% elif q['type'] == 'textarea' %}

                                                <textarea id="{{q['id']}}" name="{{q['id']}}" class="form-control" placeholder="请填写" rows="5" disabled>{{q['answers'][0]['value']}}</textarea>

                                            {% elif q['type'] == 'select' %}

                                                <select class="form-control" id="{{q['id']}}" name="{{q['id']}}" disabled>
                                                    {% for o in q['opts'] %}
                                                        {% if o['id'] == q['answers'][0]['value'] %}
                                                            <option value="{{o['id']}}">{{o['title']}}</option>
                                                        {% end %}
                                                    {% end %}
                                                </select>

                                            {% elif q['type'] == 'checkbox' %}
                                            
                                                {% for o in q['opts'] %}
                                                <div class="checkbox" id="{{o['id']}}">
                                                        <label>
                                                            {% if o['id'] == q['answers'][0]['value'] %}
                                                            <input type="checkbox" name="{{q['id']}}" value="{{o['id']}}" checked="checked" disabled>
                                                            {% else %}
                                                            <input type="checkbox" name="{{q['id']}}" value="{{o['id']}}" disabled>
                                                            {% end %}
                                                            {{o['title']}}
                                                        </label>
                                                    </div>
                                                {% end %}

                                            {% end %}
                                            </div>
                                        </div>
                                    </div>
                                    {% end %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
